/*
css : flex, grid - 이미지 가로 배치
웬만한 애니메이션은 css로 처리
정 안되는건 js로 처리
*/
#header {width: 100%; height:325px; background: url(https://cdn.imweb.me/thumbnail/20200513/0708b25bb8988.jpg) center top repeat-x;}

*{box-sizing: border-box;}
body{margin: 300px;}

ul{
    padding: 0;
    list-style-type: none;
    height:fit-content;
    background-color: white;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : white;
    border: 30px solid white;
}

.container {
    display: grid;
    padding: 15px;
    grid-column: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a b b"
    "a c d"
    "e e e";
}

li:nth-child(1){grid-area: a; width: 610px; height: 662px;}
li:nth-child(2){grid-area: b; width: 2fr; height: 404px;}
li:nth-child(3){grid-area: c; width: 1fr; height: 230px;}
li:nth-child(4){grid-area: d; width: 1fr; height: 230px;}
li:nth-child(5){grid-area: e; width: 3fr;}

.content {
    float: left;
    width: 100%;
    padding: 0%;
}
.content img{
    max-width: 100%;
    height: auto;
}

.layout {
    width: 1280px;
    margin-left: -15px;
    margin-right: -15px;
}

a:hover{
    color: #3c3733;
}

.text_bg_color{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0px;
}